<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container mt-4 bg-light">
    <div class="footer mb-auto mb-2 py-3 ps-3">
        Copyright &copy; 2021 All Rights Reserved | <a href="https://itumeleng-kekana-portfolio.herokuapp.com/portfolio/">Itumeleng Kekana</a>
    </div>
</div>