<link rel="stylesheet" href="/stylesheets/style.css" />

<footer class="footer mt-auto py-3 bg-light">
	<div class="container d-flex justify-content-center">
		<span class="text-muted">
			Copyright &copy; 2021 All Rights Reserved
			<!--| <a href="https://itumeleng-kekana-portfolio.herokuapp.com/portfolio/" target="_blank" rel="no-refferer">Itumeleng Kekana</a> -->
		</span>
	</div>
</footer>
