<%- layout('layouts/boilerplate') %>

<div class="container-fluid align-items-center justify-content-center" id="about">
    <div class="row">
        <h2 class="text-center my-4">About Us</h2>
        <div class="col-md-12 text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum fugiat explicabo ratione accusantium aliquam! Soluta provident dignissimos quidem sed esse delectus libero obcaecati cum nihil commodi? Quia similique dicta consequatur.
            Dolor nulla quasi nobis non incidunt ipsam cupiditate, vero et, placeat fugiat inventore praesentium qui aut quidem nostrum quam commodi laboriosam explicabo harum sapiente optio in. Incidunt laborum voluptate sed!
            Nihil non consequatur, cum nam perspiciatis vel sed optio modi quidem officia cupiditate rem eos dolores, facere fuga vero, odio tempore sint error similique! Voluptas possimus placeat maxime minus ex!
            Voluptas quos perspiciatis reprehenderit pariatur nesciunt sequi tenetur nisi sunt facilis tempora reiciendis harum ipsa blanditiis inventore, nulla officiis repellat obcaecati, corporis in minima. Sit magnam pariatur totam facere aliquam.
        </div>
    </div>
</div>

<!-- images from unsplash.com -->

<div class="row mt-5 mb-5">
    <div class="col-md-4">
        <div class="card">
            <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631541591/mountech-template/about-1_ip9uk2.jpg" alt="" class="img-thumbnail img-fluid card-img-top">
            <div class="card-body">
                <h5 class="card-title">Jane Smith, CEO</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum repellat voluptates error enim ratione, voluptatum impedit inventore recusandae officia molestiae quaerat ab doloremque iusto sequi esse tenetur tempora assumenda praesentium?</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631541508/mountech-template/about-3_gulkmy.jpg" alt="" class="img-thumbnail img-fluid card-img-top">
            <div class="card-body">
                <h5 class="card-title">John Doe, Managing Director</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum repellat voluptates error enim ratione, voluptatum impedit inventore recusandae officia molestiae quaerat ab doloremque iusto sequi esse tenetur tempora assumenda praesentium?</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631541553/mountech-template/about-2_fdmmqo.jpg" alt="" class="img-thumbnail img-fluid card-img-top">
            <div class="card-body">
                <h5 class="card-title">Jack Anon, Senior Project Manager</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum repellat voluptates error enim ratione, voluptatum impedit inventore recusandae officia molestiae quaerat ab doloremque iusto sequi esse tenetur tempora assumenda praesentium?</p>
            </div>
        </div>
    </div>
</div>
