<%- layout('layouts/boilerplate') %>

<div class="container-fluid align-items-center justify-content-center" id="about">
    <div class="row">
        <h2 class="text-center my-4">About Us</h2>
        <div class="col-md-12 text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum deserunt iure eius odit nam, dolore perspiciatis cupiditate nihil, consequatur rem expedita iste cum maxime ipsum fuga officiis ut, nostrum ipsam?
            Est quo voluptate cupiditate, ab iusto rerum repellat delectus error. Error ad explicabo provident repellat quos facere qui earum. Cupiditate modi esse non fugit magni et ullam aliquid dolore ipsa.
            Dicta vero nemo, excepturi non dolorum vitae minima pariatur facilis temporibus ipsam sint perspiciatis numquam architecto, iste suscipit libero adipisci ipsum officia corrupti deserunt necessitatibus reiciendis vel. Illo, unde nulla?
            Ad cumque dolores tempore nesciunt. Natus tempora hic alias doloribus fugit commodi consectetur et. Inventore delectus quia temporibus! Magnam asperiores quaerat aliquam nisi et consequatur esse nihil officia. Perferendis, neque!
            Sapiente quae assumenda fugit consequuntur nihil repellat vel nam? Error, enim aspernatur. Recusandae eaque laborum atque at deserunt quod in pariatur ut est qui quo natus perspiciatis, animi commodi veritatis.
        </div>
    </div>
</div>
