<%- layout('layouts/boilerplate') %>

<div class="container-fluid align-items-center justify-content-center" id="about">
    <div class="row">
        <h2 class="text-center my-4">About Us</h2>
        <div class="col-md-12 text-center">
            MOUNTECH AUTOMATION  is a 100% black owned business. We mainly focuses on the repair and installation of automatic and manual doors. Started by Charles Ramano with over 12 years of experience and training on Automatic and manual door installations and other door related accessories, we offer the best access control and security solutions in the global market on everything that is in relation with doors. Providing you with everything you need for secure access to businesses, buildings and rooms. We always make it our mission to provide our clients with good quality service and long lasting door for their businesses. We always aim to deliver quality services at very affordable rates,
            we want to keep a good business relationship by leaving our customers happy with any of our provided services.
        </div>
    </div>
</div>
