<%- layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/style.css">

<div class="header mb-5">
    <div class="container text-center align-items-center heading-content text-light">
        <h1>Mountech Automation</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id neque aliquam sint quisquam obcaecati, alias cum reprehenderit omnis quam voluptates repellat provident, aspernatur iusto non, dignissimos dicta cumque dolores officia.</p>
    </div>
</div>

<div class="container-fluid align-items-center justify-content-center" id="about">
    <div class="row">
        <h2 class="text-center my-4">About Us</h2>
        <div class="col-md-12 text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum deserunt iure eius odit nam, dolore perspiciatis cupiditate nihil, consequatur rem expedita iste cum maxime ipsum fuga officiis ut, nostrum ipsam?
            Est quo voluptate cupiditate, ab iusto rerum repellat delectus error. Error ad explicabo provident repellat quos facere qui earum. Cupiditate modi esse non fugit magni et ullam aliquid dolore ipsa.
            Dicta vero nemo, excepturi non dolorum vitae minima pariatur facilis temporibus ipsam sint perspiciatis numquam architecto, iste suscipit libero adipisci ipsum officia corrupti deserunt necessitatibus reiciendis vel. Illo, unde nulla?
            Ad cumque dolores tempore nesciunt. Natus tempora hic alias doloribus fugit commodi consectetur et. Inventore delectus quia temporibus! Magnam asperiores quaerat aliquam nisi et consequatur esse nihil officia. Perferendis, neque!
            Sapiente quae assumenda fugit consequuntur nihil repellat vel nam? Error, enim aspernatur. Recusandae eaque laborum atque at deserunt quod in pariatur ut est qui quo natus perspiciatis, animi commodi veritatis.
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2 class="text-center my-4">Products</h2>
        <div class="col-md-12">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628695235/mountech/c-img-1_zeioup.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628695235/mountech/c-img-2_dckxdp.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628695235/mountech/c-img-3_prufhq.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>

<div class="container justify-content-center text-center my-5">
    <div class="row mb-4">
        <h2 class="mt-5" id="services">Services We Offer</h2>
            <p class="lead mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae sint est hic impedit dolor, aperiam perferendis omnis accusamus nihil ad. Iure similique provident laboriosam delectus inventore ipsa ab dolore. Accusamus.</p>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.01_2_ab9mst.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Black Range</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692973/mountech/door-acc_qozh4g.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Door Accessories</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692994/mountech/door-closer_vocwzm.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Door Closers</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692971/mountech/door-handle_ss9lzv.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Door Handles</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692971/mountech/ead_rfzpxw.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">EAD Systems</div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.01_2_ab9mst.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Entrance Systems</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692972/mountech/int-glass1_sapber.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Interior Glass Systems 1</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692983/mountech/int-glass2_wqakyw.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Interior Glass Systems 2</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628693553/mountech/mort-lock_c4sjij.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Mortice Locks and Cylinders</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692973/mountech/panic-fire_ev3nxi.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Panic and Fire Door Hardware</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692974/mountech/pas-sys_h1gflz.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">PAS Systems</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628692974/mountech/lodge-sys_upwilv.jpg" class="card-img-top" alt="">
                <div class="card-title display-6">Lodging Systems</div>
                <div class="card-body">
                    	
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center mt-4">Our Work</h2>
    <div class="row mb-4 mt-4">
        <div class="col-md-6">
            <div class="ratio ratio-4x3">
                <iframe src="https://res.cloudinary.com/dkscwnhd9/video/upload/v1628685650/mountech/WhatsApp_Video_2021-08-11_at_11.06.19_skiyio.mp4" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ratio ratio-4x3">
                <iframe src="https://res.cloudinary.com/dkscwnhd9/video/upload/v1628685641/mountech/WhatsApp_Video_2021-08-11_at_11.06.18_1_sy1csc.mp4" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="ratio ratio-16x9">
        <iframe src="https://res.cloudinary.com/dkscwnhd9/video/upload/v1628685653/mountech/WhatsApp_Video_2021-08-11_at_11.06.18_l3cm9g.mp4" allowfullscreen></iframe>
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <h2 class="text-center mb-4" id="quote">Contact Us</h2>
        <div class="col-md-6 con-details">
            <h3 class="mb-2">Contact Details</h3>
            <div class="con mb-3">Cell: <a href="tel:0634743447">0634743447</a>
            </div>
            <div class="con mb-3">Alternative: <a href="tel:0820744815">0820744815</a>
            </div>
            <div class="con mb-3">Email: <a href="mailto:Charles@mountechautomation.co.za">Charles@mountechautomation.co.za</a></div>
            <div class="con">
                Location: 1064 Francis Baard Street, Hatfield, Pretoria
            </div>
        </div>
        <div class="col-md-6">
            <div class="my-4 bg-success text-light flash"><%= msg %> </div>
            <form action="/sent" method="POST">
                <div class="row mb-3">
                    <input type="text" class="form-control" placeholder="Name (required)" aria-label="Name" name="name" required>
                </div>
                <div class="row mb-3">
                    <input type="text" class="form-control" placeholder="Your Email (required)" aria-label="Email" name="email" required>
                </div>	
                <div class="row mb-3">
                    <input type="text" class="form-control" placeholder="Your Phone Number (required)" aria-label="Phone Number" name="phone" required>
                </div>
                <div class="row mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Your requirements and short message" name="message" required></textarea>
                </div>
                <div class="row mb-5">
                    <button class="btn btn-primary btn-lg" type="submit">Make Enquiry</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container text-center w-100">
<div class="mapouter">
    <div class="gmap_canvas">
    <iframe width="949" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=1064%20francis%20baard%20street&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
    </iframe>
    <a href="https://123movies-to.org">
    </a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:949px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1080px;}</style>
</div>
</div>
</div>