<%- layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/style.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<div class="container page-top">
    <h1 class="text-center mb-5" id="s-head">Our Work</h1>
    <div class="row mb-3">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.02_ahnsng.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.02_ahnsng.jpg" class="zoom img-fluid "  alt="">
               
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.01_bmmoea.jpg"  class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.01_bmmoea.jpg" class="zoom img-fluid"  alt="">
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.01_2_ab9mst.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.01_2_ab9mst.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.01_1_gtw9dn.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.01_1_gtw9dn.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.00_ndk2ry.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.01.00_ndk2ry.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.00.59_hj2pnn.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679916/mountech/WhatsApp_Image_2021-08-11_at_10.00.59_hj2pnn.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.58_1_c1myl8.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.58_1_c1myl8.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.59_1_o7wlkx.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.59_1_o7wlkx.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>

         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.58_2_onipcw.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.58_2_onipcw.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.58_dbufjq.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.58_dbufjq.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.57_1_bvhoqf.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.57_1_bvhoqf.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.57_yeptf0.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1628679915/mountech/WhatsApp_Image_2021-08-11_at_10.00.57_yeptf0.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
   </div>
</div>

<script>

$(document).ready(function(){
    $(".fancybox").fancybox({
          openEffect: "none",
          closeEffect: "none"
      });
      
      $(".zoom").hover(function(){
          
          $(this).addClass('transition');
      }, function(){
          
          $(this).removeClass('transition');
      });
  });

</script>