<%- layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/style.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<div class="container page-top">
    <h1 class="text-center mb-5" id="s-head">Our Work</h1>
    <div class="row mb-3">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538916/mountech-template/serv-1_khpom0.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538916/mountech-template/serv-1_khpom0.jpg" class="zoom img-fluid "  alt="">
               
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538920/mountech-template/serv-2_zqfzob.jpg"  class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538920/mountech-template/serv-2_zqfzob.jpg" class="zoom img-fluid"  alt="">
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538915/mountech-template/serv-12_uv22zv.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538915/mountech-template/serv-12_uv22zv.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538912/mountech-template/serv-3_jkmlke.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538912/mountech-template/serv-3_jkmlke.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538914/mountech-template/serv-4_dsdqpx.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538914/mountech-template/serv-4_dsdqpx.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538914/mountech-template/serv-5_rofoe9.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538914/mountech-template/serv-5_rofoe9.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538919/mountech-template/serv-6_qwqpx3.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538919/mountech-template/serv-6_qwqpx3.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538912/mountech-template/serv-7_i44noa.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538912/mountech-template/serv-7_i44noa.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>

         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538911/mountech-template/serv-9_kjq1mg.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538911/mountech-template/serv-9_kjq1mg.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538916/mountech-template/serv-10_lhfbh3.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538916/mountech-template/serv-10_lhfbh3.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538917/mountech-template/serv-11_drxotv.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538917/mountech-template/serv-11_drxotv.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538914/mountech-template/serv-8_ng2vha.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/dkscwnhd9/image/upload/v1631538914/mountech-template/serv-8_ng2vha.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
   </div>
</div>

<script>

$(document).ready(function(){
    $(".fancybox").fancybox({
          openEffect: "none",
          closeEffect: "none"
      });
      
      $(".zoom").hover(function(){
          
          $(this).addClass('transition');
      }, function(){
          
          $(this).removeClass('transition');
      });
  });

</script>